@model IEnumerable<HomeBase.Models.adminViewModel>

@{
    ViewData["Title"]= "Admin Page";
}

<h2> Admin Page</h2>
<h4>Only Admin Can View this Page</h4>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RolesList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolesList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
            
            </td>
        </tr>
}
    </tbody>
</table>