@model IEnumerable<HomeBase.Models.DZQOTDModelView>

@{
    ViewData["Title"]= "Member Zone";
    Layout = "~/Views/Shared/_MemberZoneLayout.cshtml";

}

<h2> QOTD</h2>
<h4>QOTD</h4>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Organized by Question</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Organized by Participant</a></li>
  
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">@foreach (var item in Model ) {
   <div class="panel-group" id="accordionMessagesSetup">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"></h4>

        <table class="table">
          <thead>
            <tr>
              <th>@Html.DisplayNameFor(model => model.QOTD.Question)</th>

              <th>@Html.DisplayNameFor(model => model.QOTD.QuestionAuthor)</th>

              <th>@Html.DisplayNameFor(model => model.QOTD.QuestionDate)</th>

              <th>@Html.DisplayNameFor(model => model.QOTD.Theme)</th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td><a class="accordion-toggle" data-toggle="collapse" data-parent=
              "#accordionMessagesSetup" href=@string.Format("#collapseMessagesSetup{0}",item.QOTD.ID)>
             <span class="glyphicon glyphicon-chevron-down"></span>
              @Html.DisplayFor(modelItem
              => item.QOTD.Question)</a></td>

              <td>@Html.DisplayFor(modelItem => item.QOTD.QuestionAuthor)</td>

              <td>@Html.DisplayFor(modelItem => item.QOTD.QuestionDate)</td>

              <td>@Html.DisplayFor(modelItem => item.QOTD.Theme)</td>

            </tr>
          </tbody>
        </table>
      </div>
      <div id=@string.Format("collapseMessagesSetup{0}",item.QOTD.ID) class=
      "panel-collapse collapse">
        <div>
          <table class="table">
          <thead>
            <tr>
              <th>Author</th>


              <th>Answer</th>

          
            </tr>
          </thead>
          @foreach (var answer in item.QOTDAnswers){
      <tbody>
            <tr>
           

              <td>@Html.DisplayFor(modelItem => answer.Author)</td>


              <td>@Html.DisplayFor(modelItem => answer.Answer)</td>

            </tr>
          </tbody>
       
          }
 </table>
         
         
        </div>
      </div>
    </div>
  </div>
}</div>
    <div role="tabpanel" class="tab-pane" id="profile">
      @await Html.PartialAsync("QOTDbyParticipants",ViewData["subheader"])
     
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>

