@model IEnumerable<HomeBase.Models.USAHouses>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bathrooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.squarefootage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bedrooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emailID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.zipcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.insertionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.state)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.city)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.squarefootage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.insertionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
